{% extends 'base.html'%}
{% load staticfiles %}


{% block content%}
<title>About | PredictiveYield</title>

<section class="about-section section-padding ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 topImage">
                <div class="layer"></div>

                <img src="{%static 'aboutPage/images/a.jpeg'%}" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="animated fadeIn delay-1s mt-4"> Join Us and Commit To Better Yields</h1>
                    <hr style="background-color: #fff;margin-left: -30px;margin-right: 40%;">
                    <p class="animated fadeIn delay-1s">
                        Maximizing the Overall per Acre Value; Delivering Measurable Results All Over Maharashtra.
                    </p>

                </div>
            </div>
        </div>
        <div class="container" style="margin-top:-2%;">

            <div class="row mt-5">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="section-title">
                        <hr style="background-color: #fff;">

                        <h2 class="section_main_title ">
                            <i class="fas fa-exclamation-triangle"></i>
                            INCEPTION :
                        </h2>
                        <hr style="background-color: #fff;">
                    </div>

                    <div class="about-item">
                        <ul class="ml-4">
                            <li>
                                The state of farmers in India who comprise about 20% of the total population of 1.36
                                Billion is Poverty-Stricken. The Average Monthly Income of a farmer in Maharashtra is
                                just <b>Rs 8,938</b>.
                                Agriculture is the main source of income for more than 50% of the total population in
                                India.
                            </li><br>
                            <li>
                                The National Crime Records Bureau of India in its 2017 Report stated that about
                                <b>12000</b>
                                Farmers commit <b>Suicide Every Year</b>, this
                                amounts to 11.2% of the total people who committed suicide in India.
                                In the 2013 Maharashtra Drought at least <b>30 Farmers killed themselves every day</b>,
                                on average. More than <b>3500</b> Farmers Committed suicide in 2013 itself. This is very
                                saddening.
                            </li><br>
                            <li>
                                The <b>Main Reason</b> for this was a <b>Failure to Grow Crops</b> caused by:
                                <ol class="ml-5">
                                    <li>Unforeseen climatic conditions</li>
                                    <li>Droughts</li>
                                    <li>Bad agricultural practices</li>
                                    <li>Lack of guidance</li>
                                    <li>Excessive use of pesticides</li>
                                    <li>Low yields and</li>
                                    <li>Unregulated prices</li>
                                </ol>
                            </li>
                        </ul>
                        We Aim at alleviating all these problems and provide Free of Cost Services so all
                        Farmers in India can practice <b>Sustainable Agriculture</b>.
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-md-offset-2">
                    <div class="about-box">
                        <a href="https://en.wikipedia.org/wiki/Farmers%27_suicides_in_India" class="videopopup">
                            <img src="{% static 'aboutPage/images/farmer.jpg'%}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<hr style="background-color: #fff; margin-left: 8%;margin-right: 8%;">


<section class="philosophy-section mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 col-lg-5 col-sm-12  ">
            <hr class="ml-4 mt-4" style="background-color: #fff;">

            <h2 class="philosophy_main_title pl-3"><i class="fas fa-brain"></i> OUR <strong>PHILOSOPHY:</strong></h2>
            <hr class="ml-4 mt-1 mb-4" style="background-color: #fff;">

            <div class="philosophy-content">
                <p class="ph-thought">
                    INCREASE EFFICIENCY. <br>
                    SCALE PRODUCTIVITY. <br>
                    STRENGTHEN SUSTAINABILITY. <br>
                </p>

                <p>
                    pYield is an Intuitive, Intelligent, Self-Evolving Smart Agro-System that delivers Future-Ready
                    Farming Solutions to the entire agricultural sector.
                </p>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-7">
            <div class="row mt-2">
                <div class="col-md-3 ph-Image">
                    <img src="{% static 'aboutPage/images/vision.png'%}" alt="">
                </div>
                <div class="col-md-9" style="margin-top:-0.5%;">
                    <h2 class=" mt-4"><strong>VISION</strong> </h2>
                    <p>
                        Empowering Farmers as well as Economies of the Agro-Ecosystem to achieve<br> the goal of
                        Sustainable Agriculture.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-3 ph-Image">
                    <img src="{% static 'aboutPage/images/mission.png' %}" alt="">
                </div>
                <div class="col-md-9" style="margin-top:-4.5%;">
                    <h2><strong>MISSION</strong> </h2>
                    <p>
                        <ol class="ml-3">
                            <li>
                                Deliver exemplary Decision-Making tools that bring Consistency, Dependability and
                                Sustainability to Farmers.
                            </li>
                            <li>
                                Digitizing every farm in India, by providing Smarter Real-Time Agro-Soulutions for
                                managing entire Agro Ecosystem.
                            </li>
                            <li>
                                Improving the Overall Farming experience and to help Enhance the Overall Yields and
                                Profits from the crops you grow.
                            </li>
                            <li>
                                To make every aspect of running your farm a easier.
                            </li>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="scope-section mt-3">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 image-mh ">
            <img src="{% static 'aboutPage/images/mh1.jpg'%}" alt="">
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 scope-title">
            <hr class="ml-0 mt-1 mr-5" style="background-color: #fff;">
            <h2 class="scope_main_title"><i class="fas fa-code-branch"></i> PROJECT <strong>SCOPE :</strong></h2>
            <hr class="ml-0 mt-1 mr-5" style="background-color: #fff;">

            <ul class="scope-content">
                <li>
                    At the present moment we are covering the State of Maharashtra. We Endeavour to Expand our Project
                    so that it Encompasses the whole of India.
                </li>

                <li>
                    We cover all the 34 Districts of Maharashtra: <br>
                    Ahmednagar, Akola, Amravati, Aurangabad, Beed, Bhandara, Buldhana, Chandrapur, Dhule, Gadchiroli,
                    Gondia, Hingoli, Jalgaon, Jalna, Kolhapur, Latur, Nagpur, Nanded, Nandurbar, Nashik, Osmanabad,
                    Palghar, Parbhani, Pune, Raigad, Ratnagiri, Sangli, Satara,Sindhudurg, Solapur, Thane, Wardha,
                    Washim, Yavatmal
                </li>
                <li>
                    More than 44000 Villages in the 34 Districts have
                    been covered.
                </li>

                <li>
                    More than 10 Million Farmers are covered at present. We Aim to cover every Farmers in India
                    and Improve their Routine Life and Overall Income.
                </li>
        </div>
    </div>
</section>


<section class="about-team mt-4 pt-3">
    <hr style="background-color: #fff; margin-left: 8%;margin-right: 8%;margin-top: 3%;">
    <div class="row ">
        <div class="col-md-12">
            <h2 class="section_main_title text-center" style="font-weight: 400;"> <i class="fas fa-users"
                    style="font-size:1.5em;"></i> OUR<strong> TEAM:</strong></h2>

            <hr style="background-color: #fff; margin-left: 8%;margin-right: 8%;">
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div id="testimonial" class="owl-carousel">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="testimonial" style="background-color:#0f6">
                            <span class="icon fa fa-quote-left" style="color: #000;"></span>
                            <p class="description">
                                Amogh Desai is an avid Machine Learning and Python techie who has a passion for solving
                                complex problems and binge coding. <br>
                                A born leader, planner, architect. Amogh believes in the philosophy "Win a no win
                                situation by rewriting the rules."<br>
                                Presently, Amogh lives at Mumbai and wishes to pursue a career in Machine Learning.
                            </p>

                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="{%static 'aboutPage/images/p1.jpg'%}" alt="">
                                </div>
                                <h2 class="title">Amogh Desai</h2>
                                <span class="post">Founder and CEO</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="testimonial" style="background-color:#0ba">
                            <span class="icon fa fa-quote-left" style="color: #000;"></span>
                            <p class="description">
                                Pooja Patel is industrious, hardworking and has a flair for managing and organizing
                                things. <br>
                                She through her utter perseverance, dedication and sacrifice help build PredictiveYield.
                                Her contribution to the overall project is incomprehensible. <br>
                                Pooja Patel currently lives in Mumbai.
                            </p>

                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="{%static 'aboutPage/images/p2.webp'%}" alt="">
                                </div>
                                <h2 class="title">Pooja Patel</h2>
                                <span class="post">Co-Founder and COO</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="testimonial" style="background-color:#08e">
                            <span class="icon fa fa-quote-left" style="color: #000;"></span>
                            <p class="description">
                                A playboy and techie, Mihir Jadhav has a keen interest in designing things. The website
                                that you see today is his masterpiece. <br>
                                An avid learner, Mihir is full of talents and surprises. He does art, goes for treks and
                                even plays the guitar alongside his job at PredictiveYield. <br>
                                Mihir Jadhav currently lives at Mumbai.
                            </p>

                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="{%static 'aboutPage/images/p3.jpg'%}" alt="">
                                </div>
                                <h2 class="title">Mihir Jadhav</h2>
                                <span class="post">Co-Founder and CTO</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>

{% endblock%}
